<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 设置Spring MVC请求映射日志 -->
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="DEBUG"/>
	<!-- DispatcherServlet初始化日志 -->
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO"/>
	<!-- Feign相关日志 -->
	<logger name="feign.Logger" level="DEBUG"/>
	<!-- 你自己的业务包 -->
	<logger name="com.seeho" level="DEBUG"/>

	<!-- 根日志 -->
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>
